<div class="header">
  <div class="container">
    <div class="row align-items-center py-3">
      <div class="col-12">
        <img
          width="40"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
          class="me-3"
        />
        <span class="d-inline-block">
          {{ title }}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="passenger-form mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <form
          [formGroup]="passengerForm"
          (ngSubmit)="onSubmit()"
          needs-validation
        >
          <div class="row">
            <label for="id" class="col-2 col-lg-3 col-form-label">
              Id
            </label>
            <div class="col-10 col-lg-9">
              <input
                type="text"
                id="id"
                formControlName="id"
                [ngClass]="{
                  'is-invalid': isSubmitted && passengerForm.controls['id'].errors,
                  'is-valid': isSubmitted && !passengerForm.controls['id'].errors
                }"
                class="form-control form-control-sm"
              >
            </div>
          </div>
          <div class="row mt-2">
            <label for="name" class="col-2 col-lg-3 col-form-label">
              Nama
            </label>
            <div class="col-10 col-lg-9">
              <input
                type="text"
                id="name"
                formControlName="name"
                [ngClass]="{
                  'is-invalid': isSubmitted && passengerForm.controls['name'].errors,
                  'is-valid': isSubmitted && !passengerForm.controls['name'].errors
                }"
                class="form-control form-control-sm"
              >
            </div>
          </div>
          <div class="row mt-2">
            <label for="city" class="col-2 col-lg-3 col-form-label">
              Kota
            </label>
            <div class="col-10 col-lg-9">
              <input
                type="text"
                id="city"
                formControlName="city"
                [ngClass]="{
                  'is-invalid': isSubmitted && passengerForm.controls['city'].errors,
                  'is-valid': isSubmitted && !passengerForm.controls['city'].errors
                }"
                class="form-control form-control-sm"
              >
            </div>
          </div>
          <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary btn-sm">
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-8 mt-3 mt-lg-0">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">ID</th>
              <th width="45%">Nama</th>
              <th width="30%">Kota</th>
              <th width="15%">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let passenger of passengers; let passengerIndex = index">
              <th>{{ passenger.id }}</th>
              <td>{{ passenger.name }}</td>
              <td>{{ passenger.city }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm p-0 me-3"
                  (click)="onDelete(passengerIndex)"
                >
                  Delete
                </button>
                <button
                  type="button"
                  class="btn btn-link btn-sm p-0"
                  (click)="onEdit(passenger, passengerIndex)"
                >
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
