.homepage .slider-section {
  border-bottom: 1px solid #cecece;
}

.homepage .slider-section .slide-item {
  background-color: #777777;
  height: 400px;
}

.homepage .slider-section .slide-item h1 {
  margin-bottom: 0;
  font-size: 56px;
}

.homepage .slider-section .carousel {
  width: 100%;
  max-width: 755px;
}