<table class="table">
  <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="45%">Nama</th>
      <th width="30%">Kota</th>
      <th width="15%">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let passenger of passengers; let passengerIndex = index">
      <th>{{ passenger.id }}</th>
      <td>{{ passenger.name }}</td>
      <td>{{ passenger.city }}</td>
      <td>
        <button
          type="button"
          class="btn btn-link btn-sm p-0 me-3"
          (click)="onDeletePassenger(passengerIndex)"
          >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-link btn-sm p-0"
          (click)="onEditPassenger(passenger, passengerIndex)"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>