<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div style="min-width: 300px;">
    <form>
      <h3 class="mb-5">
        Login
      </h3>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
    <div class="text-center mt-4">
      <span>Make Account ? </span>
      <a routerLink="/auth/register">Sign Up</a>
    </div>
  </div>
</div>
