body {
  background-color: #FFFFFF;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: #000000;
  font-weight: 600;
}

h4 {
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #71C55D;
}

a:hover {
  color: #92D283;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

/* .btn {
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
} */

/* .btn-default:hover {
  color: #FFFFFF;
  background-color: #e6e6e6;
  border-color: #adadad;
} */

.fa {
  text-decoration: none;
  font-size: 13px;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #71C55D;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #FFFFFF;
  line-height: 0;
}

.back-to-top:hover {
  background: #8bd07b;
  color: #FFFFFF;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  z-index: 4;
  transition: all 0.5s ease;
  padding: 20px 0;
}

#header .navbar-brand a {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

#header .navbar-brand a span {
  color: #71C55D;
}

#header.header-scrolled {
  background: #FFFFFF;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

#header .navbar-toggler .hamburger-toggler-icon {
  border-radius: 2px;
  height: 2px;
  width: 20px;
  background-color: #505050;
}

#header .nav-item .nav-link,
#header .nav-item .nav-link:focus {
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0;
}

@media (max-width: 992px) {
  #header .nav-item .nav-link {
    padding: 10px 0;
  }
}

#header .nav-item .nav-link.active,
#header .nav-item .nav-link:hover {
  color: #71C55D;
}

section {
  overflow: hidden;
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 25px;
}

#get-started .feature-block {
  background: #FFFFFF none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}

#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
  margin-bottom: 20px;
}

#get-started .feature-block p {
  margin-bottom: 20px;
}

#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

#get-started .feature-block a:hover {
  color: #71C55D;
}

#about-us {
  margin-top: 50px;
}

#about-us img {
  max-width: 100%;
}

#about-us .about-content {
  padding-top: 60px;
}

#about-us .about-content h2 {
  color: #252525;
  font-family: "Montserrat";
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#about-us .about-content span {
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}

#about-us .about-content ul li {
  line-height: 36px;
}

#about-us .about-content ul li .fa {
  padding-right: 20px;
}

.footer {
  background: #2A2C30;
  padding-top: 50px;
  margin-top: 75px;
}

.footer .footer-logo .navbar-brand {
  color: #FFFFFF;
  display: inline-block;
  float: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}

.footer .footer-logo p {
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .list-menu > h4 {
  color: #FFFFFF;
  padding-bottom: 20px;
}

.footer .list-menu ul li a {
  color: #FFFFFF;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0;
}

.footer .copyrights {
  background: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p,
.footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}

.footer .copyrights p a,
.footer .copyrights .credits a {
  letter-spacing: 0;
  color: #71C55D;
}