<header class="header fixed-top p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 me-4 text-white text-decoration-none">
        <span class="fs-4">Navbar</span>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a routerLink="/passengers" class="nav-link px-2 text-white">Passenger</a></li>
        <li><a routerLink="/articles" class="nav-link px-2 text-white">Article</a></li>
        <li><a routerLink="/about" class="nav-link px-2 text-white">About</a></li>
        <li><a routerLink="/contact-us" class="nav-link px-2 text-white">Contact Us</a></li>
      </ul>

      <form class="col-auto me-3" role="search">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">
          Search
        </button>
      </div>
    </div>
  </div>
</header>

<div class="d-lg-none" style="height: 155px;"></div>
<div class="d-none d-lg-block" style="height: 70px;"></div>

<router-outlet></router-outlet>
