<table class="table">
  <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="40%">Nama</th>
      <th width="35%">Kota</th>
      <th width="20%">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let passenger of getPassengers(); let passengerIndex = index">
      <th>{{ passenger.id }}</th>
      <td>{{ passenger.name }}</td>
      <td>{{ passenger.city }}</td>
      <td>
        <button
          type="button"
          class="btn btn-link btn-sm p-0"
          (click)="onEdit(passenger, passengerIndex)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-link btn-sm p-0 mx-3"
          (click)="onDelete(passengerIndex)"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-link btn-sm p-0"
          (click)="onDetail(passenger.id)"
        >
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>